@model DeviceAuthenticationViewModel
    <table class="table">
        <thead>
            <tr>
                <th>Apparaat</th>
                <th>Toegang</th>
                <th>Regels</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.All)
            {
                <tr>
                    <td>@device.Identifier</td>
                    @if (Model.Authenticated.Contains(device))
                    {
                        <td>Ja</td>
                        <td>
                            <a asp-action="Index" asp-controller="Rule" asp-route-deviceid="@device.Id" class="btn btn-primary">Instellen</a>
                        </td>
                    } else
                    {
                        <td><a asp-action="RequestAccess" asp-route-id="@device.Id" class="btn btn-primary">Aanvragen</a></td>
                        <td></td>
                    }
                </tr>
        }
        </tbody>
    </table>